<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="#">
{% endblock css %} 

<!-- Bloque título -->
{% block title %} {{ category.name }} {% endblock title %}

<!-- Bloque contenido -->
{% block content %}

<!-- Navbar category -->
{% include 'manage_post/navbar_category.html' %}

<div class="text-primary">
    <h2 style="text-align: center;padding-top: 20px;font-size: 2.5rem;color: black;">{{ category.name|upper }}</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Listar artículos -->
    {% for article in articles %}
    <div class="col-lg-4 col-md-4 col-sm-12 ps-5">
        <div class="d-flex pt-5 pb-5">
          <div class="card" style="width: 18rem;">
            <img src="{{ article.image.url }}" class="card-img-top" alt="img">
            <div class="card-body">
              <h5 style="font-size: 1.3rem;font-weight: bold;text-align: center;" class="card-title">{{ article.title|truncatewords:13 }}</h5>
              <p class="card-text">{{ article.introduction|truncatewords:25 }}</p>
              <a href="{% url 'post' article.slug %}" class="btn btn-warning">Aprende más</a>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div> 
</div>
{% endblock content %}