<!-- Heredar de la plantilla base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
<!-- Estilo 1 -->
{% block css %}
<link href="#" rel="stylesheet" type="text/css" />
<!-- Estilo 2 -->
<link rel="stylesheet" href="#"/>
<style>
  #redes a.estilo {
    text-decoration: none;
    color: gray;
  }
  #redes a:hover, a.active a {
    color: black !important;
    text-decoration: underline !important;
  }  
  
</style>
{% endblock css %}
<!-- Cerrar bloque css -->
<!-- Bloque título --><!-- Cerrar bloque de título -->
{% block title %} Ver Perfil {% endblock title %}

<!-- Bloque de contenido -->
{% block content %}
<!-- Inicio de la condición 1-->
<div class="d-flex">
    <div class="image-profile">
        <!-- Imagen del perfil del usuario -->
        <img style="width: 9rem; height: 9rem;margin-left: 25px;margin-top: 10px;" src="{{ request.user.profile.photo.url }}" alt="">
    </div>
    <div style="padding-left: 15px;padding-top: 15px;"  class="body-description-profile">
        <p>Nombre Completo: {{ request.user.profile.full_name }}</p>
        <p>Profesion: {{ request.user.profile.profession }}</p>
        <p>Sobre mi: {{ request.user.profile.about }}</p>
        <div id="redes">
            <!-- Enlaces de las redes sociales -->
            <a style="text-decoration: none;" href="{{ request.user.profile.facebook }}" target="_blank" class="social">Facebook</a>
            <a style="text-decoration: none; " href="{{ request.user.profile.twitter }}" target="_blank" class="social">Twitter</a>
            <a style="text-decoration: none;" href="{{ request.user.profile.linkedin }}" target="_blank" class="social">Linkedin</a>
        </div>
    </div>
</div>
<hr>

<!-- Mostrar las publicaciones de los usuarios -->
<!-- Inicio de condición de artículos -->
{% if post %}
<div class="text-primary">
    <h2 style="text-align: center;padding-top: 20px;font-size: 2.5rem;color: black;">PUBLICACIONES</h2>
</div>

<div class="article-container">
    <!-- Recorrer los artículos -->
    <!-- Inicio de ciclo for -->
    {% for article in post %}
    <div class="col-lg-4 col-md-4 col-sm-12 ps-5">
        <div class="d-flex pt-5 pb-5">
          <div class="card" style="width: 18rem;">
            <img src="{{ article.image.url }}" class="card-img-top" alt="img">
            <div class="card-body">
              <h5 style="font-size: 1.3rem;font-weight: bold;text-align: center;" class="card-title">{{ article.title|truncatewords:13 }}</h5>
              <p class="card-text">{{ article.introduction|truncatewords:25 }}</p>
              <a href="{% url 'post' article.slug %}" class="btn btn-warning">Aprende más</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Fin del ciclo for -->
</div>
<!-- Fin de condición de artículo -->
{% endif %}

<!-- Si no se cumple la condición 1-->
{% if user.profile %}
{% else%}
<!-- Inicio de condición 2 -->
{% if request.user == user %}
<h2 class="alert-session">Usted no tiene ningún perfil, <a href="{% url 'edit_user' %}">Clic aquí</a> para crear uno nuevo</h2>
<!-- Si no se cumple la condición 2-->
{% else %}
<h2>El usuario no ha creado un perfil</h2>
<!-- Fin de condición 2 -->
{% endif %}
<!-- Fin de condición 1 -->
{% endif %}

<!-- Cerrar bloque de contenido -->
{% endblock content %}