<!-- Cargar herencia de plantilla padre (base) -->
{% extends 'base/base.html' %}
<!-- Cargar archivos estaticos -->
{% load static %}

{% block css %}
<link href="{% static 'user/css/style_user.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block title %} Ingresar {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h2 class="alert-session">Usted ya ha iniciado sesión, <a href="#">Clic aqui</a> para ir a la pagina
    principal
</h2>
{% else %}
<hr>
<div class="form-content">
    <form method="POST" class="form-general">
        <h2>Iniciar sesión</h2>
        <!-- Agergar Token -->
        {% csrf_token %}
        <table>
            <!-- Obtener formulario -->
            {{ form.as_table }}
        </table>
        <!-- Rderigir a olvidar la contraseña -->
        <a href="{% url 'password_reset' %} " class="reset_password text-dark" style="margin-top: 20px; ">Has olvidado la contraseña?</a>
        <input type="submit" value="Ingresar" class="btn btn-dark" style="width: 50%; margin-bottom: 20px;">
    </form>
</div>
{% endif %}

{% include 'base/footer.html' %}

{% endblock content %}


