{% extends 'base/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'user/css/style_user.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block title %} Registro {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h2 class="alert-session">Usted ya ha iniciado sesión, <a href="{% url 'index' %}">Clic aqui</a> para ir a la pagina
    principal
</h2>
{% else %}
<hr>
<div class="form-content">
    <form method="POST" style="box-shadow: 0px 1px 4px grey;width: 50%;align-items: center;padding-right: 5px;">
        <h2 style="font-size: 1.8em; text-align: center;">Crear Cuenta</h2>
        <!-- Agergar Token -->
        {% csrf_token %}
        <table class="table table-responsive" style="align-items: center;">
            <!-- Obtener formulario -->
            {{ form.as_table }}
        </table>
        <!-- Asignar valor al input -->
        <input type="submit" value="Registrarse" class="btn btn-dark" style="width: 50%; margin-top: 10px;margin-bottom: 10px;">
    </form>
</div>
{% endif %}

{% include 'base/footer.html' %}

{% endblock content %}



